* {
    margin: 0;
    padding: 0;
}

/*******
TYPOGRAPHY
*******/

body {
    font-family: 'Commissioner', sans-serif;
    background-color:hsl(0, 0%, 99%);
}

#mastHead {
    background-image: url(images/image-hero-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background-image: linear-Gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

#navLinks {
    background-color: white;
    position: relative;
}

.link {
    display: block;
    color: black;
    text-decoration: none;
}

.link:nth-child(2) {
    border-top: 1px solid hsl(0, 0%, 90%);
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

.informatics--block:nth-child(2) {
    border-top: 1px solid hsl(0, 0%, 90%);
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

.informatics--block--subtitle {
    font-weight: 500;
}

#progressContainer {
    background-color: hsl(0, 0%, 90%);
}
#progressBar {
    width: 50%;
    background-color: hsl(176, 50%, 47%);
}

#pageTitle {
    color: white;
}

.rewardComponent {
    border: 1px solid hsl(0, 0%, 80%)
}

.rewardSubtitle {
    color: hsl(176, 50%, 47%);
    font-weight: 500;
}

section {
    background-color: white;
    border: 1px solid hsl(0, 0%, 93%);
}

p {
    font-weight: 400;
    color:hsl(0, 0%, 60%);
}

.counterNumber {
    color: black;
}

button {
    background-color: hsl(176, 50%, 47%);
    color: hsl(0, 0%, 97%);
    border: none;
    font-weight: 700;
}

/*******
SPACING & ALIGNMENT
*******/

body {
    width: 100%;
}

#mastHead {
    margin: 0;
    height: 34vh;
    position: relative;
    z-index: 1;
    width: 100%;
}

nav {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    padding: 1.5em 0;
}

#pageTitle {
    margin-left: 1em;
}

#menuIcon {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 1.5em;
}

#navLinks {
    position: relative;
    display: none;
    flex-direction: column;
    margin: 1em auto;
    width: 90%;
    max-height: 200px;
    max-width: 500px;
    border-radius: 10px;
    z-index: -1;
}

.link {
    display: block;
    padding: 1.3em;
}

#webContent {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    position: relative;
    top: -65px;
}

#contentHeading > img {
    max-width: 50px;
}

#contentHeading {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding: 2.5em 1em;
    z-index: 2;
}

.projectTitle {
    width: 80%;
    margin: 0 auto;
}

.projectSubtitle {
    width: 100%;
    margin: 1.3em auto;
    line-height: 25px;
    font-size: .9rem;
}

#logo {
    position: absolute;
    top: -10%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    order: -1;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bookmarkLabel {
    display: none;
}

#backProjectBttn, button {
    width: 70%;
    font-size: 1rem;
    max-width: 200px;
    padding: 1.2em;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

#bookmark:hover, #bookmark:focus {
    cursor: pointer;
}

#informatics {
    display: flex;
    flex-direction: column;
}

.informatics--block {
    margin: 1em auto;
    padding: 1em 0;
    width: 50%;
    text-align: center;
}

.informatics--block:nth-child(2) {
    max-width: 30%;
    padding: 0;
    padding-bottom: 1em;
}

.numbers {
    font-size: 2.3rem;
    margin: .1em 0;
    padding: 0;
}

.informatics--block:nth-child(2) .numbers {
    margin: 0;
    padding: 0;
}

.informatics--block:nth-child(3) {
    padding: 0;
}

.informatics--block--subtitle {
    font-size: .9rem;
}

#progressContainer {
    width: 85%;
    margin: 1em auto 2em auto;
    border-radius: 50px;
}

#progressBar {
    height: 12px;
    border-radius: 50px;
}

#productInformation {
    padding:  1em 1.8em;
}

.aboutTitle {
    margin: 1em 0;
}

.paragraph {
    line-height: 25px;
    margin: 2em 0;
}

.rewardComponent {
    margin: 2em 0;
    padding: 1em;
    border-radius: 8px;
}

.rewardTitle {
    margin: .5em 0;
}

.rewardDescription {
    margin: 1em 0;
}

.counter {
    margin: 1em 0;
}

.counterNumber {
    font-size: 2rem;
    font-weight: 700;
    margin-right: .2em;
}

.rewardBttn {
    margin: .8em 0;
    padding: 1em;
}

section {
    margin: 1em 0;
    border-radius: 8px;
}